.labelRadio {
  border: 1px solid #fff;
  display: flex;
  color: #fff;
  text-align: left;
  padding: 10px;
  margin: 10px 5px;
  input {
    margin-right: 10px;
  }
  span {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
}