.container{
  position: relative;
  width: 100%;
  margin: 5px;
}

.input {
  color: #2f3030;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  height: auto;
  padding: 21px 23px;
  border: 2px solid white;
  border-radius: 4px;
}

.error {
  position: absolute;
  margin-top: 5px;
  border-radius: 4px;
  background-color: #FECDD0;
  font-size: 12px;
  padding: 10px;
  z-index: 100;
}

.error::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 7px 5px;
  border-color: transparent transparent #FECDD0 transparent;
  top:-5px;
}

.validInput{
  border: 3px solid rgb(0, 255, 21);
}

.invalidInput{
  border: 3px solid rgb(255, 0, 0);
  background-color: rgb(255, 241, 241);
}

