.container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.formWrapper {
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  margin: 5px 0;
}

.button {
  background: rgb(40, 210, 208);
  background: linear-gradient(
    90deg,
    rgba(40, 210, 208, 1) 0%,
    rgba(4, 193, 191, 1) 100%
  );
  transition: all 0.05s ease-in;
  border-radius: 4px;
  height: 64px;
  width: 100%;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
