.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(62, 169, 245);
  background: linear-gradient(
    90deg,
    rgba(62, 169, 245, 1) 0%,
    rgba(130, 203, 255, 1) 100%
  );
  text-align: center;
}

.headerText {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 10px 0;
  font-weight: 600;
}

.headerSpan {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
